/* Remove default browser margins */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}
.map {
  border: medium solid #999;
  margin: 10px 0 0 20px;
}

.chartContainer {
  background-color: rgba(128,128,128,0.2);
  border: medium solid #999;
  float: right;
  margin: 10px 20px 0 0;
}


/* Map state styling */
.state {
  stroke: #2e2b2b;
  stroke-width: .7;
}

/* Axes styling for the chart */
.x.axis path, .y.axis path,
.x.axis line, .y.axis line {
  stroke: #444;
  shape-rendering: crispEdges;
}

.y.axis text {
  font-size: 1.3em;
  fill: #333;
}

.x.axis text {
  font-size: 12px;
  fill: #333;
  transform: rotate(-35);
}

/* Chart title styling */
.chartTitle {
  font-size: 1.2em;
  font-weight: bold;
  fill: #333;
}
.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border: 0;
  border-radius: 3px;
  pointer-events: none;
}

